<div class="sidenav">
  <ul class="list-non-bullet">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <img class="corona-img" src="../assets/images/coronavirus.png" alt="coronavirus">
      </a>
    </li>
    <li style="padding-top: 5rem;">
      <img class="icons" src="../assets/images/home.png" alt="home">
    </li>
    <li>
      <img class="icons" src="../assets/images/about.png" alt="about">
    </li>
    <li style="margin-bottom: 2rem;">
      <img class="icons" src="../assets/images/link1.png" alt="link">
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
<div class="container">
  <footer class="footer">
    <div>Social Media | Connect</div>
    <ul class="social-links list-non-bullet">
      <li class="list-item-inline ">
        <a class="link" href="https://github.com/nitrathod" target="_blank">
          <img class="img" src="../assets/images/github.png" alt="github">
        </a>
      </li>
      <li class="list-item-inline">
        <a class="link" href="https://www.linkedin.com/in/nitin-rathod-209028b0/" target="_blank">
          <img class="img" src="../assets/images/linkedin.png" alt="LinkedIn">
        </a>
      </li>
      <li class="list-item-inline">
        <a class="link" href="https://twitter.com/" target="_blank">
          <img class="img" src="../assets/images/twitter.png" alt="twitter">
        </a>
      </li>
    </ul>
  </footer>
</div>