.container{
    display: flex;
    justify-content: center;
    padding: 5rem 0rem ; 
}

.searchbox{
    height: 3rem;
    width: 25rem;
    border: transparent;
    text-align: center;
    box-shadow: 1px 6px 14px -1px #8888;
    border-radius: 5px;
}

.header {
    position: relative;
    align-self: center;
    justify-content: space-between;
    padding-top: 0rem;
    margin-bottom: 0rem;
}

.header .header-mid {
    justify-content: space-between;
}

.last-update {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: auto;
    margin-top: 0rem;
}

.last-update h3,
.last-update h6 {
    margin: 0;
}

.last-update h6 {
    color: rgba(206, 212, 207, 0.6);
    font-weight: 900;
}

.header h1,
.header h6 {
    margin: 0;
}

.difference-time {
    margin-top: -3rem;
    margin-bottom: 0px;
    margin-left: 0px;
}

h4.refreshed-time{
    margin-top: -20px;
    margin-bottom: -12px;
    color: #4d4e4dfa; 
    font-weight: 600;
}

h5.refreshed-time {
    color: #4d4e4dfa; 
    font-weight: 600;
    font-size: 20px!important;
}

/* Count css starts */

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -3rem;
}

.active{
     margin-top: 83px;
    
}

/* .Level .level-item:first-child {} */


.Level .level-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.level .level-item:hover{
    background-color: #ff073a;
}

.Level .is-cherry h4{
    color: rgba(255, 7, 58, .6);
}
.Level .is-cherry h5, 
.Level .is-cherry h1 {
    color: #ff073a;
}


.Level .level-item>* {
    align-self: center;
    margin-left: 2rem;
}

.Level h1 {
    font-weight: 600;
}

.Level h1,
.Level h5 {
    margin-bottom: 0;
}

.Level .is-blue h4{
    color: rgba(0, 123, 255, .6);
}
.Level .is-blue h5,
.Level .is-blue h1 {
    color: #007bff;
}

.Level .is-green h4{
    color: rgba(40, 167, 69, .6);
}
.Level .is-green h5,
.Level .is-green h1 {
    color: #28a745;
}

.Level .is-gray h4{
    color: rgba(70, 73, 77, 0.6);
}
.Level .is-gray h5,
.Level .is-gray h1 {
    color: #464d53;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: .45s;
    animation-duration: .45s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

h5.affected-count.fadeInUp {
    text-align: right;
    font-size: 14px!important;
    font-weight: 800;
    text-align: right;
    color: rgba(61, 64, 68, 1.6);
    margin: 0 .25rem .25rem 0;
}